.body {
	background-color: rgba(255, 255, 255, 0.87);
	height: 100%;
	padding: 0px !important;
	color: black !important;
}

.userlogo>img {
	width: 230px;
	opacity: 0.9;
}

.logobottom {
	top: auto;
	bottom: 6px;
	position: absolute;
	width: 100%
}

.userlogo {
	margin-top: 18px;
	margin-bottom: -28px !important;
}

.title {
	width: 100%;
	height: 162px;
	display: table;
}

.title>h1 {
	margin-top: 0px;
	vertical-align: middle;
	display: table-cell;
	color: black;
}

.content {
	padding-left: 15px;
	padding-right: 15px;
}

.content>* {
	color: black;
}

.leftside>div>div {
	margin-bottom: 10px;
}

.leftside {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.42);
}

.centerside {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%,
		rgba(255, 255, 255, 0.87) 50%);
	height: 100%;
}

.logo {
	width: 12em;
	margin-left: -6em;
	margin-right: auto;
}

.logo>img {
	position: absolute;
	z-index: 2;
	display: block;
	width: 12em;
}

.menu {
	margin-top: 14em;
}

.menu>.btn-group-vertical {
	width: 310px;
}

.row {
	background-image: url("#{resource['image/sfondoideale.png']}");
	background-repeat: round;
}

.bn-color-yellow:hover {
	background-color: rgb(255, 221, 0);
	border-color: rgb(255, 221, 0);
}

.bn-color-red:hover {
	background-color: #E21B22;
	border-color: #E21B22;
}

.bn-color-whiteblue:hover {
	background-color: #14C2F4;
	border-color: #14C2F4;
}

.barretta>img {
	z-index: 1;
	height: 100%;
	position: absolute;
	width: 50px;
	display: block;
}

.barretta {
	margin-left: -50px;
	margin-right: auto;
	width: 50px;
}

.row {
	height: 100%;
	position: absolute;
	width: 100%;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus
	{
	z-index: 2;
	color: #ffffff;
	background-color: yellow;
	border-color: #f9ef73;
}

.list-group-item.active .list-group-item-heading, .list-group-item.active:hover .list-group-item-heading,
	.list-group-item.active:focus .list-group-item-heading {
	color: inherit;
}


.list-group-item.active .list-group-item-text, .list-group-item.active:hover .list-group-item-text,
	.list-group-item.active:focus .list-group-item-text {
	color: #e1edf7;
}

tr.border_bottom td {
	border-bottom: 1pt solid black;
}