.body {
	background-color: rgba(255, 255, 255, 0.87);
	height: 100%;
	padding: 0px !important;
	color: black !important;
}

.userlogo>img {
	width: 230px;
	opacity: 0.9;
}

.logobottom {
	top: auto;
	bottom: 6px;
	position: absolute;
	width: 100%
}

.userlogo {
	margin-top: 18px;
	margin-bottom: -28px !important;
}

.title {
	width: 100%;
	height: 162px;
	display: table;
}

.title>h1 {
	margin-top: 0px;
	vertical-align: middle;
	display: table-cell;
	color: black;
}

.content {
	padding-left: 40px;
	padding-right: 15px;
	overflow: scroll;
}

.content>* {
	color: black;
}

.leftside>div>div {
	margin-bottom: 10px;
}

.leftside {
	height: 100%;
	background-color: rgba(0, 0, 0, 0.42);
}

.centerside {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 50%,
		rgba(255, 255, 255, 0.87) 50%);
	height: 100%;
}

.logo {
	width: 12em;
	margin-left: -6em;
	margin-right: auto;
}

.logo>img {
	position: absolute;
	z-index: 2;
	display: block;
	width: 12em;
}


.menu {
	margin-top: 14em;
}

.menu>.btn-group-vertical {
	width: 310px;
}

.bn-color-yellow:hover {
	background-color: rgb(255, 221, 0);
	border-color: rgb(255, 221, 0);
}

.bn-color-red:hover {
	background-color: #E21B22;
	border-color: #E21B22;
}

.bn-color-whiteblue:hover {
	background-color: #14C2F4;
	border-color: #14C2F4;
}

.barretta>img {
	z-index: 1;
	height: 100%;
	position: absolute;
	width: 50px;
	display: block;
}

.barretta {
	margin-left: -25px;
	margin-right: auto;
	width: 50px;
}

.row {
	height: 100%;
	position: absolute;
	width: 100%;
	margin: 0px;
}

tr.border_bottom td {
	border-bottom: 1pt solid black;
}

.list-group-title, .list-group-title:hover, .list-group-title:focus,
	.list-group-title:active, .list-group-title:visited {
	background-color: #ffdd00 !important;
}

body {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("#{resource['image/sfondoideale.png']}");
	overflow: hidden;
}

.input-group{
	margin-bottom: 10px;
}